body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    width: 30%;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
    padding: 20px;
}

#passwordInput{
    border-color: blue;
    border-radius: 2px;
}
button{
    width: 60px;
    background-color: rgb(19, 212, 2);
    color: white;

}
.strongPass{
    margin-top: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}
.mediumPass{
    margin-top: 20px;
    background-color: yellow;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}
.weakPass{
    margin-top: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}