/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #0f2027, #2c5364);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* title */
#main-heading {
    color: white;
    font-size: 48px;
    margin-bottom: 50px;
}

/* container */
.container {
    display: flex;
    gap: 40px;
}

/* box */
.box {
    width: 200px;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* text */
.box h2 {
    color: white;
}

/* button */
button {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
button:hover {
    background: white;
    color: #2c5364;
}